@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.main-container{
    text-align: center;
    margin: 20vh auto 20vh auto;
}

#tagline{
    color: var(--btn-color);
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#headline{
    color: var(--p-text-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 72px;
}

#featurelist{
    font-family: 'DM Sans', sans-serif;
    color: var(--p-text-color);
    font-size: 55px
}

.typewrite{
    color: var(--light-gray);
}

#explanation{
    width: 600px;
    margin: 15px auto 50px auto;
    color: var(--off-gray);
    font-family: 'Reddit Mono', sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 700;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    #000,
    #000
  );
  opacity: 0.75;
}

dialog{ /* dialogue shenanigans */
    background-color: var(--card-bg);
    color: var(--p-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--p-text-color);
    padding: 16px;
    border-radius: 0.4rem;

    & #modal-close{
        margin-bottom: 20px;
        background-color: var(--card-bg);
        color: var(--p-text-color);
        font-family: 'Major Mono Display', sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 800;
    }
}